@media (max-width: 1200px)
    .menu
        .menu_item
            padding-right: 20px
        .menu_link
            font-size: 13px
    .promo
        .promo_header
            font-size: 50px
    .reasons
        &_cell
            align-items: start
        &_descr
            width: 300px

@media (max-width: 991px)
    .menu
        .menu_item
            padding-right: 8px
        .menu_link
            font-size: 10px
    .subheader
        .subheader
            &_logo
                img
                    width: 100%
            &_officail
                font-size: 11px
            &_phone
                font-size: 18px
            &_btn
                margin-top: 21px
                height: 40px
                width: 100%
    .promo
        .promo
            &_header
                font-size: 40px
            &_subheader
                font-size: 30px
    .reasons
        .title
            font-size: 35px
        &_cell
            flex-direction: column
            align-items: center
            justify-content: unset
        &_descr
            width: 300px
            margin-top: 20px